{:paths ["src"]
 :deps {org.organicdesign/Paguro {:mvn/version "3.1.2-andy-mods"}
        ;;org.organicdesign/Paguro {:mvn/version "3.1.2"}
        ;;org.organicdesign/Paguro {:mvn/version "3.1.3"}
        io.lacuna/bifurcan {:mvn/version "0.2.0-alpha1"}
       }
 :aliases
 {;; Common alias to use for all Clojure/Java commands
  :clj {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}

  ;; - start a Clojure/Java Socket REPL on port 50505
  :clj-socket {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

  :clj-test {:extra-paths ["test"]
             :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                          com.gfredericks/test.chuck {:mvn/version "0.2.10"}
                          collection-check {:mvn/version "0.1.7"}}}

  ;; Run tests on one vector library
  :clj-test-paguro {:main-opts ["-e" "(require,'[clojure.test,:as,t],'com.fingerhutpress.clj-vectors.test-clj-paguro-vector),(t/run-tests,'com.fingerhutpress.clj-vectors.test-clj-paguro-vector)"]}
  :clj-test-bifurcan {:main-opts ["-e" "(require,'[clojure.test,:as,t],'com.fingerhutpress.clj-vectors.test-bifurcan-list-vector),(t/run-tests,'com.fingerhutpress.clj-vectors.test-bifurcan-list-vector)"]}

  ;; Run tests on one all vector libraries
  :clj-test-all {:main-opts ["-e" "(require,'[clojure.test,:as,t],'com.fingerhutpress.clj-vectors.test-clj-paguro-vector,'com.fingerhutpress.clj-vectors.test-bifurcan-list-vector),(t/run-tests,'com.fingerhutpress.clj-vectors.test-clj-paguro-vector),(t/run-tests,'com.fingerhutpress.clj-vectors.test-bifurcan-list-vector)"]}

  :cljol {:extra-deps {cljol {:git/url "https://github.com/jafingerhut/cljol"
                              :sha "bb5549e9832e73e4a9fc5dfdf695c48e797729fa"}}}

  ;; pull in specific versions of Clojure:
  :1.7    {:override-deps {org.clojure/clojure {:mvn/version "1.7.0"}}}
  :1.8    {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9    {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10.0 {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
  :1.10   {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :master {:override-deps {org.clojure/clojure {:mvn/version "1.11.0-master-SNAPSHOT"}}}}}
